{% extends 'base.html' %}

{% load core %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}


{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h2 class="m-0">{{ request.user.email }}</h2>
        </div>
        <div class="col text-end">
            <button class="btn btn-success" type="submit" form="form-password-change">Soumettre</button>
        </div>
    </div>

    <div class="row mt-4">
        {% if filter_form and not inlines %}
        <div class="col-2">
            <div class="card">
                <div class="card-header">
                    Filtre
                </div>
                <div class="card-body">
                    <p>{{ filter_form }}</p>
                </div>
            </div>
        </div>
        {% elif model.conf.description and not inlines %}
        <div class="col-2">
            <div class="card">
                <div class="card-header">
                    Description
                </div>
                <div class="card-body">
                    <p class="p-3 pb-2">{{ model.conf.description }}</p>
                </div>
            </div>
        </div>
        {% endif %}


        <div class="col">
            <div class="row">
                <div class="col{% if inlines %}-8{% endif %}">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="m-0">Update your password</h4>
                        </div>
                        <div class="card-body">
                            <form method="post" enctype="multipart/form-data" id="form-password-change">
                              {% crispy form %}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}