{% extends 'base.html' %}

{% load core %}

{% block header %}
<!-- Add the evo-calendar.css for styling -->
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/evo-calendar@1.1.2/evo-calendar/css/evo-calendar.min.css"/>
<!-- Add the evo-calendar.js for.. obviously, functionality! -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/evo-calendar@1.1.2/evo-calendar/js/evo-calendar.min.js"></script>

<style>
    .event-empty{
        border-radius: 5px !important;
    }
</style>
{% endblock %}

{% block content %}
<div class="container-fluid">

    <h1 class="m-0">Accueil</h1>

    <div class="col mt-3">
        <div class="col rounded" id="calendar"></div>
    </div>

    <div class="col mt-5">
        <div class="row">
            {% for key, value in cards.items %}
                <div class="col-3 mb-3">
                    <a class="card text-decoration-none" href="#">
                        <div class="card-body text-bg-{{ ''|background }} text-end">
                            <h2 class="m-0">{{ value }}</h2>
                            <small class="mt-1">{{ key|title }}</small>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{{ leaves|json_script:"leaves" }}
{{ birthdays|json_script:"birthdays" }}

<script>
var today = new Date();
var events = JSON.parse(document.getElementById('leaves').textContent);
events = events.concat(JSON.parse(document.getElementById('birthdays').textContent));
console.log(events);

$(document).ready(function() {
    $("#calendar").evoCalendar({
        'language': 'en',
        format: "yyyy-mm-dd",
        titleFormat: "MM",
        calendarEvents: events
    });
});
</script>

{% endblock %}