{% extends 'base.html' %}
{% load core %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h2 class="m-0">{{ model|getattr:'_meta'|getattr:'verbose_name_plural'|title }}</h2>

            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'core:list' model|getattr:'_meta'|getattr:'app_label' model|getattr:'_meta'|getattr:'model_name' %}" class="text-decoration-none">Liste</a></li>
              </ol>
            </nav>
        </div>

        <div class="col text-end">
            {% for btn in model.conf.list.action %}
                {% if btn.method == 'GET' %}
                    <a href="{{ btn.href }}?{% for key, value in request.GET.items %}{{ key }}={{ value }}{% endfor %}" class="{{ btn.class }}">{{ btn.title }}</a>
                {% elif btn.method == 'POST' %}
                    <form action="{{ btn.href }}" method="{{ btn.method }}" style="display: initial">
                        {% csrf_token %}
                        {% for key, value in btn.values.items %}<input type="hidden" name="{{ key }}" value="{{ value }}">{% endfor %}
                        <button type="submit" class="{{ btn.class }}">{{ btn.title }}</button>
                    </form>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <div class="row mt-4">
        {% if filter_form and filter_form.fields|length > 1 %}
        <div class="col-2">
            <div class="card">
                <div class="card-header">Filtre</div>
                <div class="card-body">
                    <form method="get">
                        {{ filter_form|crispy }}
                        <button type="submit" class="btn btn-success">Soumettre</button>
                    </form>
                </div>
            </div>
        </div>
        {% elif model.conf.description %}
        <div class="col-2">
            <div class="card">
                <div class="card-header">Description</div>
                <div class="card-body">
                    <p class="p-0 m-0">{{ model.conf.description }}</p>
                </div>
            </div>
        </div>
        {% endif %}

        <div class="col">
            <div class="card">
                <div class="card-header">
                    <form method="get" class="input-group">
                        <span class="input-group-text" id="basic-addon1"><i data-feather="search" class="small-icon"></i></span>
                        <input type="text" class="form-control" placeholder="Recherche..." name="q" value="{{ request.GET.q }}">
                    </form>
                </div>
                <div class="card-body">
                    <table class="table table-hover table-responsive">
                        <thead>
                            <tr>
                                {% for field in model.conf.list.display %}
                                    <th class="fw-bolder">{{ field.1 }}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for obj in qs %}<tr data-url='{% url 'core:change' model|getattr:'_meta'|getattr:'app_label' model|getattr:'_meta'|getattr:'model_name' %}?pk={{ obj.id }}'>
                                {% for field in model.conf.list.display %}
                                    <td>{{ obj|getattr:field.0 }}</td>
                                {% endfor %}</tr>
                            {% empty %}
                            <tr>
                                <td colspan="{{ model.conf.list.display|length }}" class="text-center">
                                    <i data-feather="{{ model.conf.icon }}" class="mt-3"></i>
                                    <h3 class="m-0 mb-3">No {{ model|getattr:'_meta'|getattr:'verbose_name' }} found</h3>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% if qs.has_other_pages %}
                <div class="card-footer text-center">
                    <nav aria-label="Page navigation example">
                      <ul class="pagination justify-content-center m-0">
                          {% if qs.has_previous %}
                            <li class="page-item">
                              <a href="?page={{ qs.previous_page_number }}" class="page-link">Previous</a>
                            </li>
                          {% else %}
                              <li class="page-item disabled"><a class="page-link">Previous</a></li>
                          {% endif %}

                          {% for i in qs.paginator.page_range %}
                              {% if qs.number == i %}
                                <li class="page-item active"><a href="?page={{ i }}" class="page-link">{{ i }}</a></li>
                              {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                              {% endif %}
                          {% endfor %}

                          {% if qs.has_next %}
                            <li class="page-item">
                              <a href="?page={{ qs.next_page_number }}" class="page-link">Next</a>
                            </li>
                          {% else %}
                              <li class="page-item disabled"><a class="page-link">Next</a></li>
                          {% endif %}
                      </ul>
                    </nav>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

</div>
{% endblock %}