{% extends 'base.html' %}

{% load core %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block content %}
<div class="pt-2 ps-3 pe-3">
    <div class="row">
        <div class="col">
            <h2 class="fw-bolder text-capitalize">{{ model|getattr:'_meta'|getattr:'verbose_name' }}</h2>

            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'core:list' model|getattr:'_meta'|getattr:'app_label' model|getattr:'_meta'|getattr:'model_name' %}" class="text-decoration-none">Liste</a></li>
                <li class="breadcrumb-item"><a href="{% url 'core:change' model|getattr:'_meta'|getattr:'app_label' model|getattr:'_meta'|getattr:'model_name' %}?pk={{ obj.id }}" class="text-decoration-none">{{ model|getattr:'_meta'|getattr:'verbose_name' }}#{{ obj.id }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">Supprimer</li>
              </ol>
            </nav>
        </div>
        <div class="col text-end">
            {% for btn in model.conf.read.action %}
                {% if btn.method == 'GET' and request|stack:obj|eval:btn.condition %}
                    <a href="{{ btn.href }}?pk={{ obj.id }}" class="{{ btn.class }}">{{ btn.title }}</a>
                {% elif btn.method == 'POST' and request|stack:obj|eval:btn.condition %}
                    <form action="{{ btn.href }}?pk={{ obj.id }}" method="{{ btn.method }}" style="display: initial">
                        {% csrf_token %}
                        {% for key, value in btn.values.items %}<input type="hidden" name="{{ key }}" value="{{ value }}">{% endfor %}
                        <button type="submit" class="{{ btn.class }}">{{ btn.title }}</button>
                    </form>
                {% endif %}
            {% endfor %}
            <button onclick="history.back()" class="btn btn-success">Annuler</button>
        </div>
    </div>

    <div class="col">
        <div class="row">
          <div class="col">
            <div class="card">
              <div class="card-header">{{ model|getattr:'_meta'|getattr:'verbose_name'|title }}</div>
              <div class="card-body">
                {% for field in model|getattr:"_meta"|getattr:"fields" %}
                  {% with obj|getattr:field.name as value %}
                      {% if value %}
                          <dt class="col-sm-3 text-capitalized">{{ field.verbose_name }}</dt>
                          <dd class="col-sm-9">{{ value }}</dd>
                      {% endif %}
                  {% endwith %}
                {% endfor %}
              </div>
            </div>
          </div>

          {% if inlines %}
          <div class="col-3">
            {% for qs in inlines %}
              <div class="card mb-3">
                <div class="card-header">{{ qs.model|getattr:'_meta'|getattr:'verbose_name'|title }}</div>
                <div class="card-body">
                  {% for oBj in qs %}
                    {% for field in oBj|getattr:"_meta"|getattr:"fields" %}
                      {% with oBj|getattr:field.name as value %}
                          {% if value %}
                              <dt class="col-sm-3 text-capitalized">{{ field.verbose_name }}</dt>
                              <dd class="col-sm-9">
                                {% if field.name == 'password' %}****************{% else %}{{ value }}{% endif %}
                              </dd>
                          {% endif %}
                      {% endwith %}
                    {% endfor %}
                  {% empty %}
                  <div class="text-center">
                    - Empty -
                  </div>
                  {% endfor %}
                </div>
              </div>
            {% endfor %}
          </div>
          {% endif %}

        </div>
    </div>
</div>
{% endblock %}